body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

#app{
padding:20px;
padding-bottom:80px;
}

.menu{

position:fixed;
bottom:0;
left:0;
width:100%;

display:flex;
justify-content:space-around;

background:white;
border-top:1px solid #ddd;

padding:10px 0;

}

.menu button{

background:none;
border:none;
font-size:16px;

}
